QListWidget {
    background-color: #1E1E1E;
    color: #C8C8C8;
    selection-background-color: #0078D7;
    selection-color: #C8C8C8;
    alternate-background-color: #1E1E1E;
    border: none;
}

QListWidget::item:selected {
    background-color: #0078D7;
    color: #C8C8C8;
}

QListWidget::item:hover {
    background-color: #0096FF;
    color: #C8C8C8;
}

QListWidget::item:selected:!active {
    background-color: #0078D7;
    color: #C8C8C8;
}

QListWidget::item:focus {
    outline: none;
}
