QTabWidget {
	background-color: @background_color;
	color: @text_color;
    border: 2px solid @border_color;
    border-radius: @border_radius;
}

QTabWidget::pane{
	background-color: @background_color;
	color: @text_color;
    border: 2px solid @border_color;
    border-radius: @border_radius;
}

QTabBar::tab:top{
    color: @text_color;
    border:none;
    background-color: #302F2F;
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:top:selected{
    background-color: @item_selected_background_color;
}

QTabBar::tab:top:!selected{
    background-color: @item_not_selected_background_color;
}

QTabBar::tab:top:!selected:hover {
    background-color: @item_not_selected_hover_background_color;
}